.app {
  display: flex;
  justify-content: space-between;
}

.l-form {
  width: 500px;
}

.l-container {
  width: 250px;
}

.c-button__add {
  width: 100%;
  margin: 15px 0;
}

.c-task {
  border: 1px solid #000;
  margin: 15px 0;
  padding: 10px;
}

.c-form {
  position: relative;
}

.c-button__close {
  position: absolute;
  top: 15px;
  right: 10px;
}

.c-address {
  min-height: 25px;
  padding: 10px 0;
}

.c-taskText {
  min-height: 50px;
  padding: 10px 0;
}
